* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-section h4 {
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  color: gray;
}

.top-section img {
  width: 100px;
  margin: 20px;
  padding: 10px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 100%;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.login-form input,
.register-form input {
  padding: 10px;
  width: 500px;
  margin: 10px;
}

.login-form label,
.register-form label {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.login-form h2,
.register-form h2 {
  margin: 20px 10px;
}

.login-btn,
.register-btn {
  margin: 10px;
  font-weight: bold;
  border: 2px solid #000;
  background-color: white;
  padding: 10px;
  width: 80px;
  cursor: pointer;
}

.login-form h4,
.register-form h4 {
  margin: 10px;
  font-weight: normal;
}

.register-btn-simple,
.login-btn-simple {
  cursor: pointer;
}

.error-field h2 {
  margin: 0;
}

/* Groups */

.select-mainTitle {
  font-size: 20px;
  margin: 20px;
  font-weight: normal;
}

.group-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  box-shadow: 3px 3px 5px;
  border-radius: 5px;
  padding: 40px;
  margin: 30px;
  transition: 0.5s;
}

.single-group:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.addGroup-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.addGroup-container input {
  width: 400px;
  padding: 5px;
  margin: 10px 0;
}

.addGroup-container button {
  font-weight: bold;
  border: 2px solid #000;
  background-color: white;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.addGroup-container label {
  margin: 10px 0 0;
  font-weight: bold;
}

#groups {
  width: 400px;
  padding: 5px;
  margin: 10px 0;
}

/* Single Group */

table {
  width: 800px;
}

table tr {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

table tr:nth-child(2n) {
  background-color: lightgray;
}
